.container{
display:grid;
grid-template-columns:33%,33%,33%;
grid-template-rows:33%,33%,33%;
}
.polaroid{
align-items: center;
grid-area:1;
padding:10px;
padding-bottom:30px;
margin: 10px;
background-color: rgb(246, 246, 246);
border-radius:0.05cm;
}

.textbox{
text-align:center;
font-family:"HelveticaNeueBold";
font-weight: 200px;
font-size: large;

}

@font-face
{
    font-family:'BastligaOne';
    src: url('../fonts/BastligaOne.eot');
    src: local('BastligaOne'), local('BastligaOne'), url('../fonts/BastligaOne.woff') format('woff'), url('../fonts/BastligaOne.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: local('HelveticaNeue-Bold'), local('HelveticaNeue-Bold'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
}